<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleC.css">
    <title>Contact us</title>
</head>
<body >
    <section class="contact" id="contact">
        <div class="contact-div">
            <h1 id="h1-contact">Connect With Us</h1>
            <p>Feel free to connect with us; we would love that! Whether you have questions, feedback, or just want to say hello, we're here for you. Reach out anytime, and let's start a conversation.</p>
        <div class="box-contact">
        
        <div class="left-box-contact">
    <h3 id="h3-contact">Send Your Request</h3>
    <form>
        <div class="row-contact">
            <div class="row-group-contact" >
    <label id="label-contact">Name</label>
    <input type="text" placeholder="Enter Your Name" id="input-contact"  required>
    
            </div>
            <div class="row-group-contact" >
                <label id="label-contact">Phone</label>
                <input type="tel" inputmode="numeric"  placeholder="Enter Your Phone" id="input-contact-2" maxlength="12" required>
                
        </div>
        </div>
        <form>
            <div class="row-contact">
                <div class="row-group-contact" >
        <label id="label-contact">Email</label>
        <input type="email" placeholder="Enter Your Email" id="input-contact-3" required>
        
                </div>
        
            </div>
            <label id="label-contact">Message</label>
            <textarea rows="5" placeholder="Enter Your Message" id="textarea-contact" style="resize: none;" required></textarea>
            <button type="submit" id="button-contact">Send</button>
    </form>
        </div>
        <div class="right-box-contact">
            <h3 id="h3-contact-right">Reach us</h3>
            <br>
            <label id="label-contact-right"><i class="fas fa-envelope"></i>  Email: Project1@gmail.com</label>
    
    
    <br>
    <br>
    <label id="label-contact-right"><i class="fa-solid fa-phone"></i>  Phone: +20-268-44-712</label>
    <br>
    <br>
    <label id="label-contact-right"><i class="fa-solid fa-location-dot"></i>  Address: El-Obour Bldgs. 110 Salah Salem Rd., NASR CITY</label>
        </div>
    
    </div>
    </div>
         </section>
</body>
</html>